body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6f0; /* Hafif pembe arka plan */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #ff4081;
    animation: fadeIn 3s ease-in-out;
}

p {
    color: #555;
    font-size: 18px;
}

.photo {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 2s ease-in-out;
}

.gif {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
